/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #dd9892;
  --color-dark-pink: #db6f65;
  --color-dark-grey: #282626;
  --color-grey: #444242;
  --color-light-grey: #7c7979;
  --color-dark-blue: #316f80;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  font-weight: var(--weight-bold);
  text-decoration: none;
  color: var(--color-dark-blue);
  margin-left: 5px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  margin: 0 40px;
}

.navbar__menu {
  display: flex;
}
.navbar__logo {
  font-size: var(--font-medium);
}
.navbar__icon {
  color: var(--color-dark-blue);
}
.navbar__menu__item {
  padding: 8px 15px;
  margin: 0 5px;
  cursor: pointer;
}
.navbar__menu__item.active {
  font-weight: var(--weight-bold);
}

.navbar__menu__item:hover {
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
}

/* Home */
#home {
  background: url("images/home/background.png") center/cover no-repeat;
  padding: 40px;
}
.home__content {
  display: flex;
  margin: 0 40px;
}
.home__left {
  margin: auto;
  text-align: left;
}

.home__right {
  margin: auto;
  text-align: right;
}
.home__title {
  color: var(--color-white);
}
.home__description {
  color: var(--color-grey);
}

.home__contact {
  color: white;
  background-color: var(--color-dark-blue);
  font-size: var(--font-small);
  margin: 24px 0;
  padding: 8px 20px;
  border-radius: 4px;
}
